/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f8fb; /* Light blue-gray background */
    color: #333; /* Dark gray text color */
  }
  
  h1, h2, h3 {
    color: #165b8e; /* Dark blue heading color */
  }
  
  a {
    color: #165b8e; /* Dark blue link color */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Header Styles */
  header {
    background-color: #ffffff; /* White header background */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow effect */
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  /* Main Section Styles */
  main {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .project {
    background-color: #ffffff; /* White project background */
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow effect */
  }
  
  /* Contact Section Styles */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  footer {
    background-color: #165b8e; /* Dark blue footer background */
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center;
  }
  
  /* New Styles for Progress Bar */
  .skill {
    display: flex;
    align-items: center;
  }
  
  .fill {
    height: 20px; /* Adjust the height as desired */
    background-color: #165b8e; /* Dark blue fill color */
    margin-left: 10px; /* Adds spacing between the progress bar and skill text */
    margin-right: 10px; /* Adds spacing between the progress bar and skill text */
  }

  span {
  
  }
  
  .project-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; /* Align to the right */
    width: calc(40%); /* Adjust the width as desired */
    margin-left: 20px; /* Adds spacing between the text and media */
  }

  
  
 
  .project-media img,
  .project-media video {
    width: calc(100%); /* Adjust the width as desired */
    margin-bottom: 10px; /* Adds spacing between the media elements */
    margin-right: 10px; /* Adds spacing between the videos */

  }

  .project-details {
    display: flex;
  }
  
  .project-text {
    align-items: stretch;
  }