/* --- GENERAL STYLES --- */



body {
  
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #3d3d3d; 

  color: #333; 
}


h2, h3,h4 {
  color: #aefcff;
}

h2 {
  margin-top: 0;
}

h1 {
  margin: 0;
  color: #aefcff;
  font-size: 50px;

}


p {
  color: #ffffff; 

}

a {
  color: #aefcff;
  text-decoration:solid;
  font-size: 22px;
}

a:hover {
  text-decoration: underline;
}

/* Header Styles */
header {
  background-color: #616161; 

  padding: 20px;
  text-align: center; 

}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.centered-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 30px;
  
}


li {
  color: #ffffff;
}

/* Contact Section Styles */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer {
  background-color: #616161; 
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Main Section Styles */
main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}



.about-me-container {
  display: flex;
}

.about-me-txt {
  flex: 1;

}

.personal-picture {
  width: 42%;
  margin-right: 30px;
  align-items: center; 
  overflow: hidden; 

}

.personal-picture img {
  height: auto;  
  width:100%;
}

/* hammer code */

hamButton {
  border: none;
  background-color: transparent;
  cursor: inherit;
  padding: 10px;
  transition: background-color 0.3s;
  height: 100px;
}




#btnImg:hover {
  background-color: rgba(0, 0, 0, 0.05);
  
}

#btnImg {
  height: 60px;
  background-color: #bcff03; 
  border: 2px solid #000000; 
  display: none;
  
}

.hammer-cursor {
  cursor: url('/images/Hammer.png'), auto;
}


.flying-letter {
  position: absolute;
  transition: transform 2s linear;
  color:#ffffff
}

#easterEgg {
  display: block;
  margin: 0 auto; 
  max-height: 60px;
  animation: eggRock 1.6s infinite;
  width: auto; 
}
#easterEgg:hover {
  cursor: pointer;
}

.flying-egg-half {
  position: absolute;
  background-size: 200%; 
  overflow: hidden;
}