/* --- STYLES FOR PROJECTS --- */
  .project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  }

  .project {
    background-color: #a8a8a8;
    padding: 15px;
    margin-bottom: 15px;
  
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(80,255,80, 2); 
    overflow: hidden;
    
    transition: max-height 0.5s ease; 
    max-height: fit-content; 
    animation: expandProjDiv 0.4s ease; 

  } 
  
  
  .project.hidden {
    display: none;
  }

  .project-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; 
    margin-left: 20px;     
  }
  
  .project-media:hover,
  .project-media:focus {

    cursor: pointer;
  }
  

  .collapsed .project-media {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    display:flex;
    width:23%;
    
  }
  
  
  .project-media img,
  .project-media video {
    width: 100%; 
    margin-bottom: 10px; 
    margin-right: 10px; 
    transition: opacity 0.8s ease; 
    border-radius: 10px;
  
    animation: slideRight 0.5s ease; 
    animation-delay: calc(var(--delay-index) * 0.1s);
  
  }
  
  .collapsed .project-media img,
  .collapsed .project-media video {
  
    border:none;
    border-radius: 10px;
    transition: opacity 4s ease; 
    transform: translateY(0%); 
  
    animation: slideUp 0.5s ease; 
    animation-delay: calc(var(--delay-index) * 0.1s);
  
  }
  
  
  .project-details {
    display:flex;
  
  
  }
  
  .project-text {
    flex: 0 0 70%; 
    animation: expandProjDiv 0.4s ease; 
  
  }

  .collapsed .project-text {
    display: none;

  }

  .collapse-button {
    background-color: transparent;
    border: none;
    font-size: 24px;  
    cursor: pointer;
    outline: none;
    background-color: #165b8e;
    color: #ffffff; 
    transition: transform 0.5s ease; 
    border-radius: 20px;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .collapse-button.collapsed {
    transform: rotate(180deg);
  }
  
  .download-button {
  display: inline-block;
  padding: 10px 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  
  background-color: #7DD897; 
  border: 2px solid #3F7C54; 
  
  }
  
  .download-button:hover {
  
  background-color: #A4E8BA;
  border: 2px solid #4CA168; 
  
  }
  
/* --- '?' info regarding music around the projects --- */
  
.tooltip-container {
  position: relative;
}

.tt-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.info-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3498db; 
  border: 2px solid #87CEEB; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff; 
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 0;
  left: calc(100% + 10px);
  width: 300px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: none;
}

.tooltip p {
  margin: 5px 0;
  color: #000000;

}

/* --- Show more projects button --- */


.show-more-button {
  display: block;
  margin: 10px;
  padding: 10px;
  font-size: 22px;  
  text-align: center;
  cursor: pointer;
  border-radius: 10px;

}

.sm-button-container {
  display: flex;
  justify-content: center;
}


.media-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.media-modal .modal-content {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

